@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/static/Rubik-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/static/Rubik-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/static/Rubik-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

header {
    background-color: #f2d8ce;
    color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: -10px;
}

.hamburger-menu {
    display: none;
}

.hamburger-icon {
    color: #000000;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked + .nav-bar {
    display: block;
}

.nav-bar {
    background-color: #f2d8ce;
    color: #000000;
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input[type="search"] {
    padding: 12px;
    border: none;
    margin-top: 0;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 50px;
}

.search-bar {
    margin-left: 1200px;
    margin-top: -65px;
    position: static;
    display: flex;
    align-items: center;
}

.search-bar form {
    width: 30%;
    position: relative;
    display: flex;
    margin-left: 250px;
}

.search-btn {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-links li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color:#000000;
    font-size: 2rem;
    margin: 0 100px;
    margin-left: 0px;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
}

.nav-links li a:hover {
    color: #453f3d;
}

.cart, .user {
    margin-right: 70px;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: transparent;
}

.cart:hover, .user:hover {
    color: #453f3d;
}

.cart a:visited, .user a:visited {
    color: black;
}

.checkout {
    display: flex;
    justify-content: space-between;
    border: solid;
    width: 80%;
    margin: 25px auto;
}

.checkout-title {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.billing-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0px;
    width: 45%;
    margin-left: 50px;
}

.billing-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: normal;
}

.billing-info input[type="email"] {
    padding: 12px;
    border: none;
    margin-top: 0;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 50px;
    width: 100%;
}

.billing-info input[type="text"] {
    padding: 12px;
    border: none;
    margin-top: 0;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 5px;
    }

.payment {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.payment h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: normal;
}

.payment input[type="text"] {
    padding: 12px;
    border: none;
    margin-top: 0;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 50px;
}

.payment-card {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.card-details {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.payment-expiration, .payment-cvv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 130px;
}

.cart-title {
    font-size: 2rem;
    text-align: left;
    font-weight: normal;
}

.checkout-cart img {
    max-width: 40%;
}

.checkout-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;;
    padding-bottom: 10px;
}

.checkout-cart::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 90%;
    background: #000000;
}

.checkout-cart h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: normal;
    margin-left: 20px;
}

.checkout-cart p {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: normal;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 120px;
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.checkout-btn {
    background-color: #453f3d;
    color: #f9cccc;
    border-radius: 50px;
    padding: 20px 60px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.checkout-btn:hover {
    opacity: 0.7;
}

.product-titles {
    display: flex;
    flex-direction: row;
}

.product-titles h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-left: 480px;
    margin-top: 100px;
    margin-right: 120px;
    z-index: 1;
}

.product {
    padding-bottom: 20px;
    border: 2px solid #000000;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 75px;
}

.product h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 125px;
}


.product img {
    max-width: 22%;
    height: auto;
    margin: 25px 30px;
    margin-top: -250px;
}

.info-box p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
}

.product-information {
    padding: 5px;
    padding-right: 50px;
    width: 17%;
    height: auto;
    background-color: #ebebeb;
    border-radius: 35px;
    margin-left: -500px;
}

.product-information p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
}

.product-pingpong {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.product-review {
    margin-right: 50px;
    padding: 5px;
    padding-right: 50px;
    width: 17%;
    height: auto;
    background-color: #ebebeb;
    border-radius: 35px;
}

.product-info-mobile, .review-mobile {
    display: none;
}

.review-cta {
    background-color: #453f3d;
    color: #f9cccc;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    font: medium;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 7%;
    margin-left: 1500px;
}

.review-cta:hover {
    opacity: 0.7;
}

.review-stars {
    text-align: center;
}

.product-img-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
}

.product-img-info p {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin-left: 150px;
    margin-top: -30px;
    z-index: 1;
}

.product-img-info a {
    margin-left: 130px;
    margin-top: -25px;
    z-index: 1;
}

.confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    position: relative;
    left: -50px;
}

.confirmation i {
    font-size: 15rem;
    text-align: center;
}

.confirmation h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: normal;

}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f2d8ce;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.explore {
    position: relative;
    width: 100%;
    height: 300px;
}

.explore::before {
    content: "";
    position: absolute;
    background-image: url("../images/explore-more.jpg");
    background-position: center;
    background-size: 100% auto;
    filter: brightness(40%);
    color: #fff;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.explore h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}

.explore-cta {
    background-color: #1b1919;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 225px;
    opacity: 0.8;
    font-size: x-large;
    text-decoration: none;
}

.explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.trending {
    background-color: #6b543f;
    color: black;
    padding: 0px;
    margin: 0px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.trending-title {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.trending img {
    max-width: 15%;
    height: auto;
    margin: 25px 30px;
}

.slideshow-container {
    display: flex;
    justify-content: center;
}

.slide {
    width: 400px;
    margin: 0 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7.5rem;
    cursor: pointer;
}

.prev {
    left: 100px;
    margin-top: 225px;
}

.next {
    right: 100px;
    margin-top: 225px;
}

.giveaway {
    background-color: #f2d8ce;
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.giveaway-cta {
    background-color: #453f3d;
    color: #f9cccc;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    font: medium;
    cursor: pointer;
    font-weight: bold;
}

.email-giveaway {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453f3d;
    border-radius: 50px;
    background-color: #ffffff;
    color: #453f3d;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.title-games {
    font-size: 3rem;
    text-align: center;
}

.product-card {
    flex: 1 0 200px;
    background-color: #d8c1c1;
    border: 25px solid #d8c1c1;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    margin: 30px;
}


.product-cta {
    background-color: #453f3d;
    color: #f9cccc;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    font: medium;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.product-cta:hover {
    opacity: 0.7;
}

.about {
    color: black;
    padding: 10px;
    margin: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}

.about h1 {
    font-size: 3rem;
}

.contact {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
    font-weight: bold;
}

.contact p {
    font-size: 1.5rem;
    font-weight: normal;
}

.contact-cta {
    background-color: #453f3d;
    color: #f9cccc;
    border-radius: 50px;
    padding: 30px 60px;
    border: none;
    font: medium;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 10%;
    margin-left: 1500px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;   
}

.contact-form input {
    flex: 1;
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 50px;

}

.contact-form textarea {
    width: 25%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 50px;

}

.returns {
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.feedback {
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.returns h2, .feedback h2 {
    font-size: 3rem;
    font-weight: bold;
}

.returns p, .feedback p {
    font-size: 1.5rem;
    font-weight: normal;
}

.returns, .feedback {
    flex: 1;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    float: left;
    margin-left: 10px;
    max-width: 120px;
}

.logo-footer {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    max-width: 150px;
    clear: both;
}

.logo-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo-adress p {
    text-align: center;
    margin-left: 10px;
    line-height: 0.5;
}

.copyright {
    text-align: center;
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #d6bdb4;
    color: black;
    padding-right: 50px;
    flex-direction: row;
}

.footer-container section {
    display: inline-block;
    vertical-align: top;
}

.footer-container h3 {
    margin-bottom: 5px;
}

.footer-container a {
    color: black;
    text-decoration: none;
}

.footer-container ul {
    padding: 0;
    margin: 0;
}

.footer-gamehub, .footer-sellers, .footer-terms, .footer-cooperation, .footer-social {
    text-align: left;
}

.footer-gamehub li, .footer-sellers li, .footer-terms li, .footer-cooperation li, .footer-social li {
    list-style-type: none;
}

.footer-gamehub h3, .footer-sellers h3, .footer-terms h3, .footer-cooperation h3, .footer-social h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.footer-social ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    margin-top: 80px
}

.footer-social li {
    margin-right: 10px;
}

footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    background-color: #d6bdb4;
    color: black;
}

@media only screen and (max-width: 600px) {
    .explore h1 {
        font-size: 1rem;
    }

    .explore img {
        max-width: 100%;
        height: auto;
    }

    .product-card {
        flex: 1 0 100%; 
        width: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 0;
    }

    .footer-container h3 {
        margin-bottom: 5px;
    }

    .footer-container li {
        font-size: 8px;
    }

    .footer-social ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

    .footer-gamehub h3,
    .footer-sellers h3,
    .footer-terms h3,
    .footer-cooperation h3,
    .footer-social h3 {
        font-size: 10px;
        text-align: left;
    }

    .copyright {
        font-size: 10px;
    }

    .logo-footer {
        width: 40%;
    }

    .logo-adress {
        font-size: 8px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-right: 0;
    }

    .nav-bar {
        visibility: hidden;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 50%;
        height: auto;
        margin-left: 50px;
        padding-top: 10px;
    }

    .hamburger-icon {
        display: block;
        color: black;
        z-index: 1;
        font-size: 4rem;
    }

    .header {
        display: flex;
        align-items: center;
        padding: 0 30px;
    }

    .explore {
        height: 140px;
    }

    .explore-cta {
        margin-top: 100px;
        font-size: 0.8rem;
        padding: 7px 15px;
    }

    .explore h1 {
        font-size: 1rem;
        margin-top: -5px;
    }

    .trending {
        padding: 0px;
        margin: 0px;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    
    .trending-title {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }
    
    .trending img {
        max-width: 15%;
        height: auto;
        margin: 10px 15px;
    }

    .prev, .next {
        transform: translateY(-50%);
        margin-top: -20px;
        font-size: 3rem;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .giveaway {
        margin-top: -15px;
    }

    .email-giveaway {
        width: 50%;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        gap: 20px; 
        justify-items: center; 
        align-items: center;
        max-width: 95%;
        margin: 0 auto;
    }

    .product-card {
        font-size: 0.5rem;
        background-color: #d8c1c1;
        border: 10px solid #d8c1c1;
        text-align: center;
        padding-bottom: 20px;
        height: 350px;
    }

    .product-card h2 {
        font-size: 1rem;
    }

    .product-card img {
        max-width: 75%;
        object-fit: contain;
    }

    .product-cta {
        font-size: 0.7rem;
        padding: 7px 15px;
    }

    .about {
        margin-top: -30px;
        font-size: 0.7rem;
    }

    .about h1 {
        font-size: 2.5rem;
    }

    .contact {
        margin-top: -30px;
        font-size: 0.7rem;
    }
    
    .contact-form textarea {
        width: 90%;
        height: 150px;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 50px;
        background-color: #ffffff;
        color: #453f3d;
    }

    .contact-cta {
        background-color: #453f3d;
        color: #f9cccc;
        border-radius: 50px;
        padding: 15px 30px;
        font: medium;
        cursor: pointer;
        font-weight: bold;
    }

    .returns h2, .feedback h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .returns p, .feedback p {
        font-size: 0.7rem;
        font-weight: normal;
    }

    .product {
        padding-bottom: 20px;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        flex-direction: column;
    }

    .product h1 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        margin-right: 20px;
        margin-left: 20px;
    }

    .product img {
        max-width: 35%;
        margin-left: 30px;
        height: auto;
        margin-top: 0;
    }

    .product-information {
        padding: 5px;
        padding-right: 0;
        width: 90%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
    }

    .product-review {
        margin-right: 0px;
        padding: 5px;
        width: 90%;
        margin-left: 0;
        margin-top: 0;
    }

    .product-img-info {
        flex-direction: column;
        align-items: center;
    }
    
    .product-img-info p, .product-img-info a {
        margin-left: 0;
        margin-top: -620px;
    }

    .product-img-info a {
        margin-left: 0;
        position: relative;
        top: -540px;
        font-size: 1.5rem;
    }

    .product-titles {
        display: none;
    }
    
    .product-pingpong {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .product-info-mobile, .review-mobile {
        display: block;
    }

    .product-info-mobile {
        margin-top: 70px;
    }

    .review-cta {
        margin-left: 180px;
        padding: 7px 15px;
        position: relative;
        top: 10px;
    }

    .checkout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        width: 95%;
        margin: 0 auto;
    }
    
    .billing-info {
        margin-top: 0px;
        width: 95%;
        margin-left: 0;
    }

    .billing-info h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .payment {
        width: 95%;
        margin: 0 auto;
    }

    .cart-title {
        font-size: 2rem;
        text-align: center;
        font-weight: normal;
    }

    .checkout-cart img {
        max-width: 35%;
        margin-top: 0;
    }

    .checkout-cart {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding-bottom: 10px;
        margin-left: 50px;
    }

    .total {
        margin-left: 50px;
    }

    .checkout-btn {
        margin-left: 175px;
        padding: 10px 20px;
        margin-top: 20px;
        position: relative;
        bottom: 20px;
    }

    .confirmation {
        height: 85vh;
        position: relative;
        left: 0;
    }

    .hamburger-menu {
        display: none;
        position: fixed;
        top: 16.5%;
        left: 0;
        width: 75%;
        background-color: #453f3d;
        font-size: 3rem;
        z-index: 999;
    }
    
    #nav-toggle:checked + .hamburger-icon + .hamburger-menu {
        display: flex;
        flex-direction: column; 
        align-items: left; 
    }

    .hamburger-menu-slider {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .hamburger-menu-slider a {
        margin: 10px; 
        text-decoration: none;
        color: #f9cccc;
    }

    .prev, .next {
        display: none;
    }

    html {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 600px) {
    .nav-bar {
        display: block;
        position: static;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .nav-bar form {
        max-width: none;
        width: 100%;
    }

    .hamburger-icon {
        display: none;
        color: black;
        z-index: 1;
    }
}
