@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/static/Rubik-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/static/Rubik-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/static/Rubik-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

header {
    background-color: #f2d8ce;
    color: #fff;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-bar {
    background-color: #f2d8ce;
    color: #000000;
    font-size: 2rem;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: 'Rubik', sans-serif;
}

.nav-bar li {
    display: inline-block;
    padding: 0px;
    margin: 0 120px;
}

.nav-bar a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
}

.nav-bar a:hover {
    text-decoration: none;
    font-weight: bold;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #f2d8ce;
}

.explore {
    background-image: url("../images/explore-more.jpg");
    background-position: center;
    background-size: cover;
}

.trending {
    background-color: #d6bdb4;
    color: black;
    padding: 0px;
    margin: 0px;
}

.trending img {
    max-width: 15%;
    height: auto;
    margin: 0 10px;
}

.slideshow-container {
    position: relative;
}

.slide {
    display: none;

}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.giveaway {
    background-color: #f2d8ce;
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.logo {
    float: left;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 150px;
}

footer {
    background-color: #f2d8ce;
    color: black
}